body section div{
    height: 120px;
    width: 120px;
    
    margin: 1px;
}

section{
    display: flex;    
}

body section div:nth-child(1) div:nth-child(even){
    background: black;
}
body section div:nth-child(2) div:nth-child(odd){
    background: black;
}
body section div:nth-child(3) div:nth-child(even){
    background:black;
}
body section div:nth-child(4) div:nth-child(odd){
    background:black;
}
body section div:nth-child(5) div:nth-child(even){
    background:black;
}
body section div:nth-child(6) div:nth-child(odd){
    background:black;
}
body section div:nth-child(7) div:nth-child(even){
    background:black;
}
body section div:nth-child(8) div:nth-child(odd){
    background:black;
} 


